* {
    margin: 0%;
    color: white;
    scroll-behavior: smooth;
}

*::selection {
    background-color: rgba(0, 255, 255, 0.219);
}
::selection {
    background-color: rgba(0, 255, 255, 0.219);
}
body {
    background-color: #090b10;
    overflow-x: hidden;
}
.head {
    background-color: #090b10;
    margin: 0%;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
}
.topic {
    margin: 30px;
    margin-top: 10%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
}
.heading {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
    cursor: default;
    margin-top: auto;
    position: relative;
    font-family: "Segoe UI";
    font-size: 100px;
    display: inline-block;

    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
}
.heading:hover {
    color: white;
    display: inline-block;

    animation-name: rubberBand, red_yellow;
    animation-duration: 1.2s, 1.5s; /* don't forget to set a duration! */
    animation-iteration-count: 1, 1;
}

@keyframes red_yellow {
    0% {
        color: aqua;
    }
    100% {
        color: white;
    }
}

.interact,
.club {
    font-size: 75px;
}

.logo {
    display: inline-block;
    margin: 30px;
    margin-top: 30%;
    width: 300px;
    border-radius: 100%;
    animation: fadeInDown;
    animation-duration: 1s;
    box-shadow: 0px 0px 100px aqua;
}

.big {
    font-size: 150px;
    text-shadow: 30px 30px 100px aqua;
}

.arrow-down {
    position: absolute;
    bottom: 5%;
    right: 48%;
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(189, 189, 189);
    cursor: pointer;
}

.arrow-down:hover {
    border-top: 20px solid aqua;
}

.main {
    background-color: #090b10;
    width: 100vw;
    height: 100vh;
    font-family: "Segoe UI";
}

.break {
    height: 1px;
    width: 50%;
    background-color: aqua;
    justify-content: center;
}

.main__heading {
    margin-top: 50px;
    font-size: 50px;
    font-weight: normal;
}

.main__content {
    overflow-wrap: normal;
    margin: 50px;
    margin-left: 60px;
}

.box {
    margin: 100px;
    margin-right: 110px;
    padding: 50px;
    background-color: #0f111a;
    border-radius: 25px;
    box-shadow: 0px 0px 30px black;
    animation-name: glow-off;
    animation-duration: 500ms;
    animation-iteration-count: 1;
}

.box:hover {
    box-shadow: 0px 0px 30px aqua;
    animation-name: glow;
    animation-duration: 500ms;
    animation-iteration-count: 1;
}
@keyframes glow {
    from {
        box-shadow: 0px 0px 30px black;
    }
    to {
        box-shadow: 0px 0px 30px aqua;
    }
}
@keyframes glow-off {
    from {
        box-shadow: 0px 0px 30px aqua;
    }
    to {
        box-shadow: 0px 0px 30px black;
    }
}

.asoka-class,
.college-class,
.interact-class,
.club-class {
    display: inline-block;
}

.project {
    transform: scale(1);
    -ms-transform: scale(1); /* IE 9 */
    -moz-transform: scale(1); /* Firefox */
    -webkit-transform: scale(1); /* Safari and Chrome */
    -o-transform: scale(1); /* Opera */
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 30px;
    animation-name: make-small;
    animation-duration: 1s;
}

.project:hover {
    transform: scale(1.2);
    -ms-transform: scale(1.2); /* IE 9 */
    -moz-transform: scale(1.2); /* Firefox */
    -webkit-transform: scale(1.2); /* Safari and Chrome */
    -o-transform: scale(1.2); /* Opera */
    animation-name: make-big;
    animation-duration: 2s;
}

@keyframes make-small {
    from {
        transform: scale(1.2);
        -ms-transform: scale(1.2); /* IE 9 */
        -moz-transform: scale(1.2); /* Firefox */
        -webkit-transform: scale(1.2); /* Safari and Chrome */
        -o-transform: scale(1.2); /* Opera */
    }
    to {
        transform: scale(1);
        -ms-transform: scale(1); /* IE 9 */
        -moz-transform: scale(1); /* Firefox */
        -webkit-transform: scale(1); /* Safari and Chrome */
        -o-transform: scale(1); /* Opera */
    }
}

@keyframes make-big {
    from {
        transform: scale(1);
        -ms-transform: scale(1); /* IE 9 */
        -moz-transform: scale(1); /* Firefox */
        -webkit-transform: scale(1); /* Safari and Chrome */
        -o-transform: scale(1); /* Opera */
    }
    to {
        transform: scale(1.2);
        -ms-transform: scale(1.2); /* IE 9 */
        -moz-transform: scale(1.2); /* Firefox */
        -webkit-transform: scale(1.2); /* Safari and Chrome */
        -o-transform: scale(1.2); /* Opera */
    }
}

.img-wrapper {
    display: inline-block;
    margin: 50px;
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 30px;
    overflow: hidden;
}
@media screen and (max-width: 1250px) {
    .heading {
        font-size: 60px;
    }
    .big {
        font-size: 100px;
    }
    .interact,
    .club {
        font-size: 40px;
    }
}

@media screen and (max-height: 500px) and (max-width: 1000px) {
    .heading {
        font-size: 50px;
    }
    .big {
        font-size: 90px;
    }
    .interact,
    .club {
        font-size: 30px;
    }
    .logo {
        margin-top: 20%;
    }
}

@media screen and (max-height: 500px) and (max-width: 900px) {
    .logo {
        width: 250px;
    }
}

@media screen and (max-height: 500px) and (max-width: 850px) {
    .heading {
        font-size: 40px;
    }
    .big {
        font-size: 75px;
    }
    .interact,
    .club {
        font-size: 20px;
    }
    .logo {
        margin-top: 20%;
    }
}

@media screen and (max-height: 500px) and (max-width: 770px) {
    .logo {
        width: 200px;
    }
}

@media screen and (max-height: 500px) and (max-width: 715px) {
    .topic {
        margin-top: 30%;
    }
    .heading {
        font-size: 30px;
    }
    .big {
        font-size: 65px;
    }
    .interact,
    .club {
        font-size: 15px;
    }
    .logo {
        margin-top: 40%;
    }
}

@media screen and (max-height: 500px) and (max-width: 650px) {
    .head {
        grid-template-columns: auto;
        align-items: center;
        align-content: center;
    }
    .topic {
        margin-top: 0%;
        margin-bottom: 20px;
        text-align: center;
    }
    .heading {
        font-size: 30px;
    }
    .big {
        font-size: 60px;
    }
    .interact,
    .club {
        font-size: 15px;
    }
    .logo {
        margin-top: 0%;
        margin-left: 35%;
    }
}
