* {
    margin: 0%;
    color: white;
    scroll-behavior: smooth;
}

*::selection {
    background-color: rgba(0, 255, 255, 0.219);
}
::selection {
    background-color: rgba(0, 255, 255, 0.219);
}
body {
    background-color: #090b10;
    overflow-x: hidden;
}
.head {
    background-color: #090b10;
    margin: 0%;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
}
.topic {
    margin: 30px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
}
.heading {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
    cursor: default;
    margin-top: auto;
    position: relative;
    font-family: "Segoe UI";
    font-size: 100px;
    display: inline-block;

    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
}
.heading:hover {
    color: white;
    display: inline-block;

    animation-name: rubberBand, red_yellow;
    animation-duration: 1.2s, 1.5s; /* don't forget to set a duration! */
    animation-iteration-count: 1, 1;
}

@keyframes red_yellow {
    0% {
        color: aqua;
    }
    100% {
        color: white;
    }
}

.interact,
.club {
    font-size: 75px;
}

.logo {
    display: inline-block;
    margin: 30px;
    width: 300px;
    border-radius: 100%;
    animation: fadeInDown;
    animation-duration: 1s;
    box-shadow: 0px 0px 100px aqua;
}

.big {
    font-size: 150px;
    text-shadow: 30px 30px 100px aqua;
}

.arrow-down {
    position: absolute;
    bottom: 5%;
    right: 50%;
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(189, 189, 189);
    cursor: pointer;
}

.arrow-down:hover {
    border-top: 20px solid aqua;
}

.main {
    margin-top: 50px;
    background-color: #090b10;
    width: 100vw;
    height: 100vh;
    font-family: "Segoe UI";
}

.break {
    height: 1px;
    width: 50%;
    background-color: aqua;
    justify-content: center;
}

.main__heading {
    font-size: 50px;
    font-weight: normal;
}

.main__content {
    overflow-wrap: normal;
    margin: 50px;
    margin-left: 60px;
}

.box {
    margin: 50px;
    margin-right: 60px;
    padding: 50px;
    background-color: #0f111a;
    border-radius: 25px;
    box-shadow: 0px 0px 30px black;
    animation-name: glow-off;
    animation-duration: 500ms;
    animation-iteration-count: 1;
}

.box:hover {
    box-shadow: 0px 0px 30px aqua;
    animation-name: glow;
    animation-duration: 500ms;
    animation-iteration-count: 1;
}
@keyframes glow {
    from {
        box-shadow: 0px 0px 30px black;
    }
    to {
        box-shadow: 0px 0px 30px aqua;
    }
}
@keyframes glow-off {
    from {
        box-shadow: 0px 0px 30px aqua;
    }
    to {
        box-shadow: 0px 0px 30px black;
    }
}
